<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reviews</title>
</head>
<body>

    <!-- Display Reviews -->
    <h2>Your Reviews</h2>
    <table>
        <thead>
            <tr>
                <th>Movie Title</th>
                <th>Date</th>
                <th>User</th>
                <th>Rating</th>
                <th>User Review</th>
            </tr>
        </thead>
        <tbody>
            {% for review in reviews %}
                <tr>
                    <td>{{ review[1] }}</td>       <!-- Movie Title -->
                    <td>{{ review[2] }}</td>       <!-- User -->
                    <td>{{ review[3] }}</td>       <!-- User Review -->
                    <td>{{ review[4] }}/10</td>       <!-- Date -->
                    <td>{{ review[5] }}</td>    <!-- Rating -->
                </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>